<figure class="slider-wrapper">
  <article class="slider-actions">
    <button class="left-button slider-button" (click)="goToPrevSlide()">
      <svg xmlns="http://www.w3.org/2000/svg" class="bi bi-arrow-left-circle-fill" viewBox="0 0 16 16">
        <path
          d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0m3.5 7.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5z"/>
      </svg>
    </button>
    <button class="right-button slider-button" (click)="goToNextSlide()">
      <svg xmlns="http://www.w3.org/2000/svg" class="bi bi-arrow-right-circle-fill" viewBox="0 0 16 16" >
        <path
          d="M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0M4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5z"/>
      </svg>
    </button>
  </article>
  <picture>
    <img src="assets/images/slider/{{ currentSlide.image}}" alt="slider image - {{currentSlideIndex}}">
<!--    <img src="../../../../assets/images/slider/{{ currentSlide.image}}" alt="slider image - {{currentSlideIndex}}">-->
  </picture>
  <article class="slider-info">
    <h2 class="slider-title" *ngIf="currentSlide.title">{{currentSlide.title}}</h2>
    <p class="slider-description" *ngIf="currentSlide.description">{{currentSlide.description}}</p>
  </article>
  <a routerLink="catalog" class="slider-link" *ngIf="currentSlide.textButton">{{currentSlide.textButton}}</a>
</figure>
