<section class="order py-4">
  <div class="container">
    <h3 class="title text-center fw-bold fs-2 mb-5">Сделать заказ</h3>
    <form class="row g-3" id="mainForm" [formGroup]="orderForm" (ngSubmit)="sendForm()">
      <label class="col-12 col-lg-6 offset-lg-3 form-label">
        <span>Товар</span>
        <input type="text" class="form-control" id="productName" formControlName="productName" [readonly]="isProductNameReadonly" [class.disabled]="isProductNameReadonly">
        <p class="form-error" *ngIf="productName?.invalid || productName?.errors?.['required']">
          Выберите товар в каталоге</p>
      </label>
      <label class=" col-12 col-lg-2 offset-lg-3 form-label">
        <span>Имя</span>
        <input type="text" class="form-control" id="inputName" formControlName="firstName">
        <div class="form-error" *ngIf="firstName?.invalid && (firstName?.touched || firstName?.dirty)">
          <p *ngIf="firstName?.errors?.['required']">Заполните ваше имя</p>
          <p *ngIf="firstName?.errors?.['pattern']">Минимум 2 символа на кирилице</p>
        </div>
      </label>
      <label class="col-12 col-lg-2 form-label">
        <span>Фамилия</span>
        <input type="text" class="form-control" id="inputLastName" formControlName="lastName">
        <div class="form-error" *ngIf="lastName?.invalid && (lastName?.touched || lastName?.dirty)">
          <p *ngIf="lastName?.errors?.['required']">Заполните вашу фамилию</p>
          <p *ngIf="lastName?.errors?.['pattern']">Минимум 2 символа на кирилице</p>
        </div>

      </label>
      <label class="col-12 col-lg-2 form-label">
        <span>Телефон</span>
        <input type="text" class="form-control" id="inputPhone" formControlName="phone" (keydown)="banLetter($event)">
        <div *ngIf="phone?.invalid && (phone?.touched || phone?.dirty)">
          <p class="form-error" *ngIf="phone?.errors?.['required']">Введите номер телефона</p>
          <p class="form-error" *ngIf="phone?.errors?.['pattern']">Номер должке содержать 11 цифр</p>
        </div>
      </label>
      <label class="col-12 col-lg-3 offset-lg-3 form-label">
        <span>Страна</span>
        <input type="text" class="form-control" id="inputCountry" formControlName="country">
        <p class="form-error"
           *ngIf="country?.invalid && (country?.touched || country?.dirty) && (country?.errors?.['required'] || country?.errors?.['pattern'])">Введите
          страну</p>
      </label>
      <label class="col-12 col-lg-3 form-label">
        <span>Индекс</span>
        <input type="text" class="form-control" id="inputIndex" maxlength="6" formControlName="zip">

        <div *ngIf="zip?.invalid && (zip?.touched || zip?.dirty)">
          <p class="form-error" *ngIf="zip?.errors?.['required']">Заполните индекс</p>
          <p class="form-error" *ngIf="zip?.errors?.['pattern']">Индекс должен содержать 6 цифр</p>
        </div>
      </label>
      <label class="col-12 col-lg-6 offset-lg-3 form-label">
        <span>Адрес</span>
        <input type="text" class="form-control" id="inputAddress" formControlName="address">

        <div *ngIf="address?.invalid && (address?.touched || address?.dirty)">
          <p class="form-error" *ngIf="address?.errors?.['required']">Заполните
            адрес</p>
          <p class="form-error" *ngIf="address?.errors?.['pattern']">Адрес введён некорректно</p>
        </div>
      </label>
      <label class="col-12 col-lg-6 offset-lg-3 form-label">
        <span>Комментарий к заказу</span>
        <textarea type="text" class="form-control" id="descriptionOrder" formControlName="comment"></textarea>
      </label>
      <div class="col-2 offset-lg-3">
        <button class="btn btn-primary hvr-pulse-shrink" id="btnForm" #formButton>Отправить
        </button>
      </div>
    </form>

    <div class="order-text text-center fs-1 d-none">
      <p class="text text-primary fw-bold">Спасибо за заказ. <span class="d-block text-danger">Мы свяжемся с вами в ближайшее время!</span>
      </p>
    </div>
  </div>
</section>

<div class="modal" #modal>
  <div class="modal-wrapper">
    <p class="modal-text" #modalText></p>
    <button class="modal-button" (click)="closeModal()">Закрыть</button>
  </div>
</div>



