html, body {
  height: 100%;
}

body {
  font-family: Arial, sans-serif;
}

.nav-link.active {
  opacity: 1 !important;
}

.acc-title {
  position: relative;
}

.accordion-title {
  position: relative;
}

.accordion-title {
  position: relative;
}

@keyframes loader-animate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';
